
     
     .deck
     {
          /* width:50%;
          height: 5%; */
          margin: 20px auto;
          background:rgba(195,105,85);
          border:solid 10px black;
          padding: 10px;
          border-radius:10px;
          text-align: center;
          color:white;
     }
     /* body {
          height: 100vh;
          background: -webkit-linear-gradient(
               to right,
               #acb6e5,
               #74ebd5
               );
               background:linear-gradient(to right, #acb6e5, #74ebd5);
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
     } */
     /* section{
          display: grid;
          grid-template-columns: repeat(4,8rem);
          grid-template-rows: repeat(4,8rem);
          grid-gap: 2rem;
          perspective: 800px;
     } */
     .card
     {
          height: 75px;
          padding: 10px;
          border: solid 1px goldenrod;
          background-color: antiquewhite;
          display: inline-block;
          border-radius: 10px;
          font-size: 14pt;
          text-align: center;
          color:black;
          margin: 3px;
          font-stretch: extra-expanded;
          line-height:  1.25px;
          font-family: Bradley Hand, cursive
          /* ;
          position: relative; */
          /* transform-style: preserve-3d;
          transition: all 2s cubic-bezier(0.175,0.885,0.32,1.275);
          box-shadow: rgba(0,0,0,.2) 0px 5px 15px; 
          transform: rotateY(180deg); */
     }
     .btn{
     background:white;
          padding: 10px 20px;
          border-radius:30px;
          margin: 10px;
          display:inline-block;
     }
     .card .value{
          font-size:15pt;
          font-family: sans-serif;
     }
     .card .suit{
     height: 1px;
     width: 70px;
     }
     /* .face, .back {
          width: 100%;
          height: 100%;
          position: absolute;
     }
     .back {
          background: lavenderblush;
          backface-visibility: hidden;
     }
     .toggleCard{
          transform: rotateY(180deg);
     }
     
     */