
     
     .deck
     {
          /* width:50%;
          height: 5%; */
          margin: 20px auto;
          background:rgba(195,105,85);
          border:solid 10px black;
          padding: 10px;
          border-radius:10px;
          text-align: center;
          color:white;
     }
     /* body {
          height: 100vh;
          background: -webkit-linear-gradient(
               to right,
               #acb6e5,
               #74ebd5
               );
               background:linear-gradient(to right, #acb6e5, #74ebd5);
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
     } */
     /* section{
          display: grid;
          grid-template-columns: repeat(4,8rem);
          grid-template-rows: repeat(4,8rem);
          grid-gap: 2rem;
          perspective: 800px;
     } */
     .card
     {
          height: 75px;
          padding: 10px;
          border: solid 1px goldenrod;
          background-color: antiquewhite;
          display: inline-block;
          border-radius: 10px;
          font-size: 14pt;
          text-align: center;
          color:black;
          margin: 3px;
          font-stretch: extra-expanded;
          line-height:  1.25px;
          font-family: Bradley Hand, cursive
          /* ;
          position: relative; */
          /* transform-style: preserve-3d;
          transition: all 2s cubic-bezier(0.175,0.885,0.32,1.275);
          box-shadow: rgba(0,0,0,.2) 0px 5px 15px; 
          transform: rotateY(180deg); */
     }
     .btn{
     background:white;
          padding: 10px 20px;
          border-radius:30px;
          margin: 10px;
          display:inline-block;
     }
     .card .value{
          font-size:15pt;
          font-family: sans-serif;
     }
     .card .suit{
     height: 1px;
     width: 70px;
     }
     /* .face, .back {
          width: 100%;
          height: 100%;
          position: absolute;
     }
     .back {
          background: lavenderblush;
          backface-visibility: hidden;
     }
     .toggleCard{
          transform: rotateY(180deg);
     }
     
     */
     #modal {
          display: none;
          background-color: rgba(150, 0, 0, 0.09);
          position: fixed;
          top: 0;
          /* position from top down left right  modal is fixed */
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
          /* this means it sits on top of body, ie, in front */
          /*This puts our modal in front of the body (which has a default z-index setting of `0`*/
          overflow: auto;
          /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
     }
     
     #modal-textbox {
          background-color: white;
          height: 350px;
          width: 550px;
          border-radius: 2px;
          margin: 150px auto;
          /*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
          /*This will give the box some depth. a grey shadow down on the lower border*/
          padding: 2%;
          line-height: 120%;
     }
     
     #modal-footer {
          text-align: right;
     }
     
     h1 {
          padding-bottom: 15px;
     }
     
     button {
          padding: 14px 18px;
          background-color: rgba(195,105,85);
          border: none;
          outline: none;
          border-radius: 3px;
          color: pink;
          font-family: 'Arial';
          cursor: pointer;
     }